.accueil{
    font-weight: bold;
}
section{
    margin-top: 100px;
    margin-bottom: 100px;
}
#titreDiscord{
    margin-bottom: 25px;
}
#titreMaps{
    margin-bottom: 25px;
}
#titre{
    text-align: center;
    margin-bottom: 50px;
}
#map{
  height: 500px;
  width: 500px;
 }
#titreAssos{
    text-align: center;
    margin-bottom: 50px;
}
