.boiteAIdees{
    font-weight: bold;
}

.BAI{
    margin-top: 100px;
    text-align: center;
}

#gestionIdees{
     float:right;
}

.prop{
    margin-top: 10px;
    align-content: center;
}

.prop{
    border:1px solid #d63031;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    color:#C2242A;
    font-size: 20px;
    background:white;
    padding:10px;
    border-radius:5px;
}

.prop:hover{
    background:#d63031;
    color:white;
}
.prop:link{
    text-decoration:none;
}

.idees{
    border:1px solid #d63031;
    margin-top: 50px;
    border-radius:5px;
    background:#FBEFEF;
}

.descriptionI{
    background:white;
    border:1px solid black;
    margin-right: 5%;
    margin-left: 5%;
    padding:5px;
}

.presentationI{
    margin-left: 5%;
    margin-right: 5%;
}
