.boutique{
	font-weight: bold;
}

.h3-responsive{
    color: black;
}

	/*CAROUSEL*/

#shopCarousel{
    margin-left: 100px;
    margin-top: 130px;
    width: 30%;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.carousel-inner img {
      width: 100%;
      height: 100%;
  }

.carouselPanierButton{
    display: flex;
}

	/*CARD*/

.card{
	width: 15rem;
}

.container-fluid{
    display:flex;
}

#categorieCard{
    float:right;
    margin-right: 5%;
}

.card img{
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.card card-text{
	width: 100%;
}
