@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

#barmenu{
    background-color: #d63031;
    font-size: 15px;
    text-transform: uppercase;
}

/*---Ecart li menuPricipal---*/

.menuPrincipal li{
    margin-right: 30px;
}
