@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: 'Open Sans', sans-serif;
}

#barmenu{
    background-color: #d63031;
    font-size: 15px;
    text-transform: uppercase;
}

/*---Ecart li menuPricipal---*/

.menuPrincipal li{
    margin-right: 30px;
}

/*---NAVBAR---*/

.yes a,
.yes a:visited,
.yes a:hover,
.yes a:active {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: black;
    font-size: 1em;
}

.yes a:hover {
    color: #FFFFFF;
}

.yes a.before:before,
.yes a.after:after {
    content: "";
    transition: 0.5s all ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.yes a.before:before {
    top: 0.5em;
}

.yes a.after:after {
    bottom: 0.5em;
}

.yes a.before:before,
.yes a.after:after {
    height: 1px;
    width: 0;
    background: #FFFFFF;
}

.yes a.sixth:before,
.yes a.sixth:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.yes a.before:hover:before,
.yes a.after:hover:after {
    width: 100%;
}
