.staff{
    font-weight: bold;
}

#staffPage{
    margin-bottom: 100px;
}
#staff{
    margin-top: 110px;
}

.affichageamoi{
    border:1px solid #d63031;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    background:#C0C0C0;
    padding:10px;

}

.imgBDE{
    width: 100px;

    height: 100px;

}

.description{
    border:1px solid #d63031;
    padding:5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

